# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.idb
*.txt
*.tlog
*.log
*.ilk
*.recipe
*.user
*.filters
*.vcxproj
*.sln
*.ipch
*.db
ASCII znakovi/ASCII_Znakovi/.vs/ASCII_Znakovi/v17/.suo
*.lock
*.vsidx
FizzBuzz/.vs/FizzBuzz/v17/.suo
Lotto/.vs/Lotto/v17/.suo
*.opendb
*.db-shm
*.db-wal
VendingMachine_CoinAcceptor/.vs/VendingMachine_CoinAcceptor/v17/.suo
VendingMachine_Catalogue/.vs/VendingMachine_Catalogue/v17/.suo
CardGames_Cards/.vs/CardGames_Cards/v17/.suo
Poker/.vs/Poker/v17/.suo
*.aps
*.rc
Poker/resource.h
Chess/.vs/Chess/v17/.suo
CrissCross/.vs/CrissCross/v17/.suo
Luhn Digit Calculator/.vs/Luhn Digit Calculator/v17/.suo
Traffic Light/.vs/Traffic Light/v17/.suo
ChatFilter/.vs/ChatFilter/v17/.suo
Autocapitalize/.vs/Autocapitalize/v17/.suo
Caesar Cipher/.vs/Caesar Cipher/v17/.suo
